.u-section-1 .u-sheet-1 {
  min-height: 629px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 12px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 188px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 25px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  width: 393px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 188px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 25px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 15px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 377px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 306px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 306px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 311px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1145px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 476px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1304px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 357px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1174px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 225px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 758px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 60px auto 0;
}

.u-section-2 .u-accordion-1 {
  width: 1140px;
  margin: 0 0 60px;
}

.u-section-2 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  line-height: 1;
  letter-spacing: 2px;
  padding: 0;
}

.u-section-2 .u-accordion-item-2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-item-3 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-3 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-item-4 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-4 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-4 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-item-5 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-5 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-5 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

.u-section-2 .u-accordion-item-6 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-6 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-6 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-2 .u-accordion-pane-6 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px;
}

.u-section-2 .u-accordion-item-7 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-7 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-7 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-2 .u-accordion-pane-7 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-7 {
  padding: 20px;
}

.u-section-2 .u-accordion-item-8 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-8 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-8 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-2 .u-accordion-pane-8 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-8 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-accordion-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-accordion-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-accordion-1 {
    width: 340px;
  }
}